  h1 {
        text-align: center;
        background-color: rgb(45, 177, 213);
}
.parent {
    padding: 10px;
    background-color: red;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}   
div {
    background-color: rgb(242, 198, 198);
    text-align: center;
    line-height: 100px;
}
.i1:hover {
    background-color: yellow;
    cursor: pointer;
}
