body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
    letter-spacing: 6px;
    margin-bottom: 100px;
}

/* Outer glowing box */
.clock-box {
    padding: 25px 60px;
    background: black;
    border-radius: 10px;
    box-shadow:
        0 0 25px #00f2ff,
        0 0 55px #00f2ff,
        inset 0 0 25px #00f2ff;
}

/* Time text */
#clock {
    color: #00f2ff;
    font-size: 70px;
    font-family: monospace;
    text-shadow:
        0 0 20px #00f2ff,
        0 0 60px #00f2ff;
}
